In [1]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import requests
import re
import json
from numpy import cos, sin, arcsin, sqrt
from math import radians
from datetime import datetime

In [2]:
MA_Block_Group = pd.read_csv("MA_Census_Block_group.csv")
MA_Block_Group

,GEO_ID,NAME,C02003_001E,C02003_001M,C02003_002E,C02003_002M,C02003_003E,C02003_003M,C02003_004E,C02003_004M,...,C02003_015E,C02003_015M,C02003_016E,C02003_016M,C02003_017E,C02003_017M,C02003_018E,C02003_018M,C02003_019E,C02003_019M
0,id,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Population of one race:,Margin of Error!!Total:!!Population of one race:,Estimate!!Total:!!Population of one race:!!White,Margin of Error!!Total:!!Population of one rac...,Estimate!!Total:!!Population of one race:!!Bla...,Margin of Error!!Total:!!Population of one rac...,...,Estimate!!Total:!!Population of two or more ra...,Margin of Error!!Total:!!Population of two or ...,Estimate!!Total:!!Population of two or more ra...,Margin of Error!!Total:!!Population of two or ...,Estimate!!Total:!!Population of two or more ra...,Margin of Error!!Total:!!Population of two or ...,Estimate!!Total:!!Population of two or more ra...,Margin of Error!!Total:!!Population of two or ...,Estimate!!Total:!!Population of two or more ra...,Margin of Error!!Total:!!Population of two or ...
1,1500000US250010101001,"Block Group 1, Census Tract 101, Barnstable Co...",825,184,797,177,797,177,0,12,...,0,12,0,12,0,12,0,12,0,12
2,1500000US250010101002,"Block Group 2, Census Tract 101, Barnstable Co...",446,129,436,124,411,123,18,28,...,0,12,0,12,0,12,0,12,0,12
3,1500000US250010101003,"Block Group 3, Census Tract 101, Barnstable Co...",708,161,668,156,625,148,22,42,...,31,36,0,12,9,16,0,12,0,12
4,1500000US250010101004,"Block Group 4, Census Tract 101, Barnstable Co...",433,173,412,160,388,158,17,23,...,0,12,0,12,0,12,13,26,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,1500000US250277614002,"Block Group 2, Census Tract 7614, Worcester Co...",1366,299,1361,299,1100,265,0,12,...,0,12,0,12,0,12,0,12,0,12
4982,1500000US250277614003,"Block Group 3, Census Tract 7614, Worcester Co...",943,224,943,224,943,224,0,12,...,0,12,0,12,0,12,0,12,0,12
4983,1500000US250277614004,"Block Group 4, Census Tract 7614, Worcester Co...",844,169,844,169,844,169,0,12,...,0,12,0,12,0,12,0,12,0,12
4984,1500000US250277614005,"Block Group 5, Census Tract 7614, Worcester Co...",816,170,816,170,797,164,0,12,...,0,12,0,12,0,12,0,12,0,12
4985,1500000US250277614006,"Block Group 6, Census Tract 7614, Worcester Co...",1562,324,1476,265,911,182,368,145,...,11,25,0,12,34,39,23,51,0,12

In [3]:
MA_Block_Group = MA_Block_Group.rename(columns=MA_Block_Group.iloc[0])
MA_Block_Group

,id,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Population of one race:,Margin of Error!!Total:!!Population of one race:,Estimate!!Total:!!Population of one race:!!White,Margin of Error!!Total:!!Population of one race:!!White,Estimate!!Total:!!Population of one race:!!Black or African American,Margin of Error!!Total:!!Population of one race:!!Black or African American,...,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!White; Asian,Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!White; Asian,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; American Indian and Alaska Native,Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; American Indian and Alaska Native,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!All other two race combinations,Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!All other two race combinations,Estimate!!Total:!!Population of two or more races:!!Population of three races,Margin of Error!!Total:!!Population of two or more races:!!Population of three races,Estimate!!Total:!!Population of two or more races:!!Population of four or more races,Margin of Error!!Total:!!Population of two or more races:!!Population of four or more races
0,id,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Population of one race:,Margin of Error!!Total:!!Population of one race:,Estimate!!Total:!!Population of one race:!!White,Margin of Error!!Total:!!Population of one rac...,Estimate!!Total:!!Population of one race:!!Bla...,Margin of Error!!Total:!!Population of one rac...,...,Estimate!!Total:!!Population of two or more ra...,Margin of Error!!Total:!!Population of two or ...,Estimate!!Total:!!Population of two or more ra...,Margin of Error!!Total:!!Population of two or ...,Estimate!!Total:!!Population of two or more ra...,Margin of Error!!Total:!!Population of two or ...,Estimate!!Total:!!Population of two or more ra...,Margin of Error!!Total:!!Population of two or ...,Estimate!!Total:!!Population of two or more ra...,Margin of Error!!Total:!!Population of two or ...
1,1500000US250010101001,"Block Group 1, Census Tract 101, Barnstable Co...",825,184,797,177,797,177,0,12,...,0,12,0,12,0,12,0,12,0,12
2,1500000US250010101002,"Block Group 2, Census Tract 101, Barnstable Co...",446,129,436,124,411,123,18,28,...,0,12,0,12,0,12,0,12,0,12
3,1500000US250010101003,"Block Group 3, Census Tract 101, Barnstable Co...",708,161,668,156,625,148,22,42,...,31,36,0,12,9,16,0,12,0,12
4,1500000US250010101004,"Block Group 4, Census Tract 101, Barnstable Co...",433,173,412,160,388,158,17,23,...,0,12,0,12,0,12,13,26,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,1500000US250277614002,"Block Group 2, Census Tract 7614, Worcester Co...",1366,299,1361,299,1100,265,0,12,...,0,12,0,12,0,12,0,12,0,12
4982,1500000US250277614003,"Block Group 3, Census Tract 7614, Worcester Co...",943,224,943,224,943,224,0,12,...,0,12,0,12,0,12,0,12,0,12
4983,1500000US250277614004,"Block Group 4, Census Tract 7614, Worcester Co...",844,169,844,169,844,169,0,12,...,0,12,0,12,0,12,0,12,0,12
4984,1500000US250277614005,"Block Group 5, Census Tract 7614, Worcester Co...",816,170,816,170,797,164,0,12,...,0,12,0,12,0,12,0,12,0,12
4985,1500000US250277614006,"Block Group 6, Census Tract 7614, Worcester Co...",1562,324,1476,265,911,182,368,145,...,11,25,0,12,34,39,23,51,0,12

In [4]:
MA_Block_Group = MA_Block_Group.iloc[1:]
MA_Block_Group

,id,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Population of one race:,Margin of Error!!Total:!!Population of one race:,Estimate!!Total:!!Population of one race:!!White,Margin of Error!!Total:!!Population of one race:!!White,Estimate!!Total:!!Population of one race:!!Black or African American,Margin of Error!!Total:!!Population of one race:!!Black or African American,...,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!White; Asian,Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!White; Asian,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; American Indian and Alaska Native,Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; American Indian and Alaska Native,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!All other two race combinations,Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!All other two race combinations,Estimate!!Total:!!Population of two or more races:!!Population of three races,Margin of Error!!Total:!!Population of two or more races:!!Population of three races,Estimate!!Total:!!Population of two or more races:!!Population of four or more races,Margin of Error!!Total:!!Population of two or more races:!!Population of four or more races
1,1500000US250010101001,"Block Group 1, Census Tract 101, Barnstable Co...",825,184,797,177,797,177,0,12,...,0,12,0,12,0,12,0,12,0,12
2,1500000US250010101002,"Block Group 2, Census Tract 101, Barnstable Co...",446,129,436,124,411,123,18,28,...,0,12,0,12,0,12,0,12,0,12
3,1500000US250010101003,"Block Group 3, Census Tract 101, Barnstable Co...",708,161,668,156,625,148,22,42,...,31,36,0,12,9,16,0,12,0,12
4,1500000US250010101004,"Block Group 4, Census Tract 101, Barnstable Co...",433,173,412,160,388,158,17,23,...,0,12,0,12,0,12,13,26,0,12
5,1500000US250010101005,"Block Group 5, Census Tract 101, Barnstable Co...",561,145,541,138,497,133,0,12,...,20,24,0,12,0,12,0,12,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,1500000US250277614002,"Block Group 2, Census Tract 7614, Worcester Co...",1366,299,1361,299,1100,265,0,12,...,0,12,0,12,0,12,0,12,0,12
4982,1500000US250277614003,"Block Group 3, Census Tract 7614, Worcester Co...",943,224,943,224,943,224,0,12,...,0,12,0,12,0,12,0,12,0,12
4983,1500000US250277614004,"Block Group 4, Census Tract 7614, Worcester Co...",844,169,844,169,844,169,0,12,...,0,12,0,12,0,12,0,12,0,12
4984,1500000US250277614005,"Block Group 5, Census Tract 7614, Worcester Co...",816,170,816,170,797,164,0,12,...,0,12,0,12,0,12,0,12,0,12
4985,1500000US250277614006,"Block Group 6, Census Tract 7614, Worcester Co...",1562,324,1476,265,911,182,368,145,...,11,25,0,12,34,39,23,51,0,12

In [5]:
MA_Block_Group_cols = list(MA_Block_Group.columns)
MA_Block_Group_cols

['id',
 'Geographic Area Name',
 'Estimate!!Total:',
 'Margin of Error!!Total:',
 'Estimate!!Total:!!Population of one race:',
 'Margin of Error!!Total:!!Population of one race:',
 'Estimate!!Total:!!Population of one race:!!White',
 'Margin of Error!!Total:!!Population of one race:!!White',
 'Estimate!!Total:!!Population of one race:!!Black or African American',
 'Margin of Error!!Total:!!Population of one race:!!Black or African American',
 'Estimate!!Total:!!Population of one race:!!American Indian and Alaska Native',
 'Margin of Error!!Total:!!Population of one race:!!American Indian and Alaska Native',
 'Estimate!!Total:!!Population of one race:!!Asian',
 'Margin of Error!!Total:!!Population of one race:!!Asian',
 'Estimate!!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander',
 'Margin of Error!!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander',
 'Estimate!!Total:!!Population of one race:!!Some other race',
 'Margin of Error!!Total:!!Population of one race:!!Some other race',
 'Estimate!!Total:!!Population of two or more races:',
 'Margin of Error!!Total:!!Population of two or more races:',
 'Estimate!!Total:!!Population of two or more races:!!Two races including Some other race',
 'Margin of Error!!Total:!!Population of two or more races:!!Two races including Some other race',
 'Estimate!!Total:!!Population of two or more races:!!Two races excluding Some other race, and three or more races',
 'Margin of Error!!Total:!!Population of two or more races:!!Two races excluding Some other race, and three or more races',
 'Estimate!!Total:!!Population of two or more races:!!Population of two races:',
 'Margin of Error!!Total:!!Population of two or more races:!!Population of two races:',
 'Estimate!!Total:!!Population of two or more races:!!Population of two races:!!White; Black or African American',
 'Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!White; Black or African American',
 'Estimate!!Total:!!Population of two or more races:!!Population of two races:!!White; American Indian and Alaska Native',
 'Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!White; American Indian and Alaska Native',
 'Estimate!!Total:!!Population of two or more races:!!Population of two races:!!White; Asian',
 'Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!White; Asian',
 'Estimate!!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; American Indian and Alaska Native',
 'Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; American Indian and Alaska Native',
 'Estimate!!Total:!!Population of two or more races:!!Population of two races:!!All other two race combinations',
 'Margin of Error!!Total:!!Population of two or more races:!!Population of two races:!!All other two race combinations',
 'Estimate!!Total:!!Population of two or more races:!!Population of three races',
 'Margin of Error!!Total:!!Population of two or more races:!!Population of three races',
 'Estimate!!Total:!!Population of two or more races:!!Population of four or more races',
 'Margin of Error!!Total:!!Population of two or more races:!!Population of four or more races']

In [6]:
Margin_cols_to_drop = []
for columns in MA_Block_Group_cols:
    if 'Margin' in columns:
        Margin_cols_to_drop.append(columns)
   

MA_Block_Group = MA_Block_Group.drop(columns = Margin_cols_to_drop)

MA_Block_Group

,id,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Population of one race:,Estimate!!Total:!!Population of one race:!!White,Estimate!!Total:!!Population of one race:!!Black or African American,Estimate!!Total:!!Population of one race:!!American Indian and Alaska Native,Estimate!!Total:!!Population of one race:!!Asian,Estimate!!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander,Estimate!!Total:!!Population of one race:!!Some other race,...,Estimate!!Total:!!Population of two or more races:!!Two races including Some other race,"Estimate!!Total:!!Population of two or more races:!!Two races excluding Some other race, and three or more races",Estimate!!Total:!!Population of two or more races:!!Population of two races:,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!White; Black or African American,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!White; American Indian and Alaska Native,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!White; Asian,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; American Indian and Alaska Native,Estimate!!Total:!!Population of two or more races:!!Population of two races:!!All other two race combinations,Estimate!!Total:!!Population of two or more races:!!Population of three races,Estimate!!Total:!!Population of two or more races:!!Population of four or more races
1,1500000US250010101001,"Block Group 1, Census Tract 101, Barnstable Co...",825,797,797,0,0,0,0,0,...,0,28,28,20,8,0,0,0,0,0
2,1500000US250010101002,"Block Group 2, Census Tract 101, Barnstable Co...",446,436,411,18,0,7,0,0,...,0,10,10,10,0,0,0,0,0,0
3,1500000US250010101003,"Block Group 3, Census Tract 101, Barnstable Co...",708,668,625,22,0,21,0,0,...,0,40,40,0,0,31,0,9,0,0
4,1500000US250010101004,"Block Group 4, Census Tract 101, Barnstable Co...",433,412,388,17,0,7,0,0,...,0,21,8,8,0,0,0,0,13,0
5,1500000US250010101005,"Block Group 5, Census Tract 101, Barnstable Co...",561,541,497,0,0,0,0,44,...,0,20,20,0,0,20,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,1500000US250277614002,"Block Group 2, Census Tract 7614, Worcester Co...",1366,1361,1100,0,0,206,0,55,...,0,5,5,0,5,0,0,0,0,0
4982,1500000US250277614003,"Block Group 3, Census Tract 7614, Worcester Co...",943,943,943,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4983,1500000US250277614004,"Block Group 4, Census Tract 7614, Worcester Co...",844,844,844,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4984,1500000US250277614005,"Block Group 5, Census Tract 7614, Worcester Co...",816,816,797,0,11,8,0,0,...,0,0,0,0,0,0,0,0,0,0
4985,1500000US250277614006,"Block Group 6, Census Tract 7614, Worcester Co...",1562,1476,911,368,21,120,0,56,...,23,63,63,0,18,11,0,34,23,0

In [7]:
MA_cols_v2 = list(MA_Block_Group.columns)

MA_cols_v2 = [re.compile(r"Estimate").sub("", m) for m in MA_cols_v2]

MA_cols_v2 = [re.compile(r"!!").sub("", m) for m in MA_cols_v2]
MA_cols_v2

['id',
 'Geographic Area Name',
 'Total:',
 'Total:Population of one race:',
 'Total:Population of one race:White',
 'Total:Population of one race:Black or African American',
 'Total:Population of one race:American Indian and Alaska Native',
 'Total:Population of one race:Asian',
 'Total:Population of one race:Native Hawaiian and Other Pacific Islander',
 'Total:Population of one race:Some other race',
 'Total:Population of two or more races:',
 'Total:Population of two or more races:Two races including Some other race',
 'Total:Population of two or more races:Two races excluding Some other race, and three or more races',
 'Total:Population of two or more races:Population of two races:',
 'Total:Population of two or more races:Population of two races:White; Black or African American',
 'Total:Population of two or more races:Population of two races:White; American Indian and Alaska Native',
 'Total:Population of two or more races:Population of two races:White; Asian',
 'Total:Population of two or more races:Population of two races:Black or African American; American Indian and Alaska Native',
 'Total:Population of two or more races:Population of two races:All other two race combinations',
 'Total:Population of two or more races:Population of three races',
 'Total:Population of two or more races:Population of four or more races']

In [8]:
MA_Block_Group.columns = MA_cols_v2
MA_Block_Group

,id,Geographic Area Name,Total:,Total:Population of one race:,Total:Population of one race:White,Total:Population of one race:Black or African American,Total:Population of one race:American Indian and Alaska Native,Total:Population of one race:Asian,Total:Population of one race:Native Hawaiian and Other Pacific Islander,Total:Population of one race:Some other race,...,Total:Population of two or more races:Two races including Some other race,"Total:Population of two or more races:Two races excluding Some other race, and three or more races",Total:Population of two or more races:Population of two races:,Total:Population of two or more races:Population of two races:White; Black or African American,Total:Population of two or more races:Population of two races:White; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:White; Asian,Total:Population of two or more races:Population of two races:Black or African American; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:All other two race combinations,Total:Population of two or more races:Population of three races,Total:Population of two or more races:Population of four or more races
1,1500000US250010101001,"Block Group 1, Census Tract 101, Barnstable Co...",825,797,797,0,0,0,0,0,...,0,28,28,20,8,0,0,0,0,0
2,1500000US250010101002,"Block Group 2, Census Tract 101, Barnstable Co...",446,436,411,18,0,7,0,0,...,0,10,10,10,0,0,0,0,0,0
3,1500000US250010101003,"Block Group 3, Census Tract 101, Barnstable Co...",708,668,625,22,0,21,0,0,...,0,40,40,0,0,31,0,9,0,0
4,1500000US250010101004,"Block Group 4, Census Tract 101, Barnstable Co...",433,412,388,17,0,7,0,0,...,0,21,8,8,0,0,0,0,13,0
5,1500000US250010101005,"Block Group 5, Census Tract 101, Barnstable Co...",561,541,497,0,0,0,0,44,...,0,20,20,0,0,20,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,1500000US250277614002,"Block Group 2, Census Tract 7614, Worcester Co...",1366,1361,1100,0,0,206,0,55,...,0,5,5,0,5,0,0,0,0,0
4982,1500000US250277614003,"Block Group 3, Census Tract 7614, Worcester Co...",943,943,943,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4983,1500000US250277614004,"Block Group 4, Census Tract 7614, Worcester Co...",844,844,844,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4984,1500000US250277614005,"Block Group 5, Census Tract 7614, Worcester Co...",816,816,797,0,11,8,0,0,...,0,0,0,0,0,0,0,0,0,0
4985,1500000US250277614006,"Block Group 6, Census Tract 7614, Worcester Co...",1562,1476,911,368,21,120,0,56,...,23,63,63,0,18,11,0,34,23,0

In [9]:
BG_split_list = [x.split("Block Group ")[1] for x in MA_Block_Group['Geographic Area Name'].tolist()]

Block_group_list = [x[0] for x in BG_split_list]

MA_Block_Group['Block_Group'] = Block_group_list
MA_Block_Group

,id,Geographic Area Name,Total:,Total:Population of one race:,Total:Population of one race:White,Total:Population of one race:Black or African American,Total:Population of one race:American Indian and Alaska Native,Total:Population of one race:Asian,Total:Population of one race:Native Hawaiian and Other Pacific Islander,Total:Population of one race:Some other race,...,"Total:Population of two or more races:Two races excluding Some other race, and three or more races",Total:Population of two or more races:Population of two races:,Total:Population of two or more races:Population of two races:White; Black or African American,Total:Population of two or more races:Population of two races:White; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:White; Asian,Total:Population of two or more races:Population of two races:Black or African American; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:All other two race combinations,Total:Population of two or more races:Population of three races,Total:Population of two or more races:Population of four or more races,Block_Group
1,1500000US250010101001,"Block Group 1, Census Tract 101, Barnstable Co...",825,797,797,0,0,0,0,0,...,28,28,20,8,0,0,0,0,0,1
2,1500000US250010101002,"Block Group 2, Census Tract 101, Barnstable Co...",446,436,411,18,0,7,0,0,...,10,10,10,0,0,0,0,0,0,2
3,1500000US250010101003,"Block Group 3, Census Tract 101, Barnstable Co...",708,668,625,22,0,21,0,0,...,40,40,0,0,31,0,9,0,0,3
4,1500000US250010101004,"Block Group 4, Census Tract 101, Barnstable Co...",433,412,388,17,0,7,0,0,...,21,8,8,0,0,0,0,13,0,4
5,1500000US250010101005,"Block Group 5, Census Tract 101, Barnstable Co...",561,541,497,0,0,0,0,44,...,20,20,0,0,20,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,1500000US250277614002,"Block Group 2, Census Tract 7614, Worcester Co...",1366,1361,1100,0,0,206,0,55,...,5,5,0,5,0,0,0,0,0,2
4982,1500000US250277614003,"Block Group 3, Census Tract 7614, Worcester Co...",943,943,943,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4983,1500000US250277614004,"Block Group 4, Census Tract 7614, Worcester Co...",844,844,844,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
4984,1500000US250277614005,"Block Group 5, Census Tract 7614, Worcester Co...",816,816,797,0,11,8,0,0,...,0,0,0,0,0,0,0,0,0,5
4985,1500000US250277614006,"Block Group 6, Census Tract 7614, Worcester Co...",1562,1476,911,368,21,120,0,56,...,63,63,0,18,11,0,34,23,0,6

In [10]:
CT_split_list = [x.split("Census Tract ")[1] for x in MA_Block_Group['Geographic Area Name'].tolist()]

CT_group_list = [x.split(',')[0] for x in CT_split_list]


MA_Block_Group['Census_Tract'] = CT_group_list
MA_Block_Group

,id,Geographic Area Name,Total:,Total:Population of one race:,Total:Population of one race:White,Total:Population of one race:Black or African American,Total:Population of one race:American Indian and Alaska Native,Total:Population of one race:Asian,Total:Population of one race:Native Hawaiian and Other Pacific Islander,Total:Population of one race:Some other race,...,Total:Population of two or more races:Population of two races:,Total:Population of two or more races:Population of two races:White; Black or African American,Total:Population of two or more races:Population of two races:White; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:White; Asian,Total:Population of two or more races:Population of two races:Black or African American; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:All other two race combinations,Total:Population of two or more races:Population of three races,Total:Population of two or more races:Population of four or more races,Block_Group,Census_Tract
1,1500000US250010101001,"Block Group 1, Census Tract 101, Barnstable Co...",825,797,797,0,0,0,0,0,...,28,20,8,0,0,0,0,0,1,101
2,1500000US250010101002,"Block Group 2, Census Tract 101, Barnstable Co...",446,436,411,18,0,7,0,0,...,10,10,0,0,0,0,0,0,2,101
3,1500000US250010101003,"Block Group 3, Census Tract 101, Barnstable Co...",708,668,625,22,0,21,0,0,...,40,0,0,31,0,9,0,0,3,101
4,1500000US250010101004,"Block Group 4, Census Tract 101, Barnstable Co...",433,412,388,17,0,7,0,0,...,8,8,0,0,0,0,13,0,4,101
5,1500000US250010101005,"Block Group 5, Census Tract 101, Barnstable Co...",561,541,497,0,0,0,0,44,...,20,0,0,20,0,0,0,0,5,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,1500000US250277614002,"Block Group 2, Census Tract 7614, Worcester Co...",1366,1361,1100,0,0,206,0,55,...,5,0,5,0,0,0,0,0,2,7614
4982,1500000US250277614003,"Block Group 3, Census Tract 7614, Worcester Co...",943,943,943,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,7614
4983,1500000US250277614004,"Block Group 4, Census Tract 7614, Worcester Co...",844,844,844,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,7614
4984,1500000US250277614005,"Block Group 5, Census Tract 7614, Worcester Co...",816,816,797,0,11,8,0,0,...,0,0,0,0,0,0,0,0,5,7614
4985,1500000US250277614006,"Block Group 6, Census Tract 7614, Worcester Co...",1562,1476,911,368,21,120,0,56,...,63,0,18,11,0,34,23,0,6,7614

In [11]:
MA_Block_Group['Census_Tract_cleaned'] = MA_Block_Group['Census_Tract'].str.replace('.', '')
MA_Block_Group

,id,Geographic Area Name,Total:,Total:Population of one race:,Total:Population of one race:White,Total:Population of one race:Black or African American,Total:Population of one race:American Indian and Alaska Native,Total:Population of one race:Asian,Total:Population of one race:Native Hawaiian and Other Pacific Islander,Total:Population of one race:Some other race,...,Total:Population of two or more races:Population of two races:White; Black or African American,Total:Population of two or more races:Population of two races:White; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:White; Asian,Total:Population of two or more races:Population of two races:Black or African American; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:All other two race combinations,Total:Population of two or more races:Population of three races,Total:Population of two or more races:Population of four or more races,Block_Group,Census_Tract,Census_Tract_cleaned
1,1500000US250010101001,"Block Group 1, Census Tract 101, Barnstable Co...",825,797,797,0,0,0,0,0,...,20,8,0,0,0,0,0,1,101,101
2,1500000US250010101002,"Block Group 2, Census Tract 101, Barnstable Co...",446,436,411,18,0,7,0,0,...,10,0,0,0,0,0,0,2,101,101
3,1500000US250010101003,"Block Group 3, Census Tract 101, Barnstable Co...",708,668,625,22,0,21,0,0,...,0,0,31,0,9,0,0,3,101,101
4,1500000US250010101004,"Block Group 4, Census Tract 101, Barnstable Co...",433,412,388,17,0,7,0,0,...,8,0,0,0,0,13,0,4,101,101
5,1500000US250010101005,"Block Group 5, Census Tract 101, Barnstable Co...",561,541,497,0,0,0,0,44,...,0,0,20,0,0,0,0,5,101,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,1500000US250277614002,"Block Group 2, Census Tract 7614, Worcester Co...",1366,1361,1100,0,0,206,0,55,...,0,5,0,0,0,0,0,2,7614,7614
4982,1500000US250277614003,"Block Group 3, Census Tract 7614, Worcester Co...",943,943,943,0,0,0,0,0,...,0,0,0,0,0,0,0,3,7614,7614
4983,1500000US250277614004,"Block Group 4, Census Tract 7614, Worcester Co...",844,844,844,0,0,0,0,0,...,0,0,0,0,0,0,0,4,7614,7614
4984,1500000US250277614005,"Block Group 5, Census Tract 7614, Worcester Co...",816,816,797,0,11,8,0,0,...,0,0,0,0,0,0,0,5,7614,7614
4985,1500000US250277614006,"Block Group 6, Census Tract 7614, Worcester Co...",1562,1476,911,368,21,120,0,56,...,0,18,11,0,34,23,0,6,7614,7614

In [12]:
MA_Block_Group[MA_Block_Group['Geographic Area Name'].str.contains("Suffolk",na=False,case=False)]

,id,Geographic Area Name,Total:,Total:Population of one race:,Total:Population of one race:White,Total:Population of one race:Black or African American,Total:Population of one race:American Indian and Alaska Native,Total:Population of one race:Asian,Total:Population of one race:Native Hawaiian and Other Pacific Islander,Total:Population of one race:Some other race,...,Total:Population of two or more races:Population of two races:White; Black or African American,Total:Population of two or more races:Population of two races:White; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:White; Asian,Total:Population of two or more races:Population of two races:Black or African American; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:All other two race combinations,Total:Population of two or more races:Population of three races,Total:Population of two or more races:Population of four or more races,Block_Group,Census_Tract,Census_Tract_cleaned
3780,1500000US250250001001,"Block Group 1, Census Tract 1, Suffolk County,...",2359,2327,928,219,0,896,0,284,...,11,0,21,0,0,0,0,1,1,1
3781,1500000US250250001002,"Block Group 2, Census Tract 1, Suffolk County,...",1250,1240,1021,28,0,170,0,21,...,0,0,0,0,0,0,10,2,1,1
3782,1500000US250250001003,"Block Group 3, Census Tract 1, Suffolk County,...",865,843,679,24,0,123,0,17,...,13,0,0,0,9,0,0,3,1,1
3783,1500000US250250001004,"Block Group 4, Census Tract 1, Suffolk County,...",1410,1350,907,180,0,58,0,205,...,0,0,37,0,23,0,0,4,1,1
3784,1500000US250250002011,"Block Group 1, Census Tract 2.01, Suffolk Coun...",1244,1217,903,19,0,190,0,105,...,0,19,8,0,0,0,0,1,2.01,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,1500000US250259815021,"Block Group 1, Census Tract 9815.02, Suffolk C...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,9815.02,981502
4422,1500000US250259816001,"Block Group 1, Census Tract 9816, Suffolk Coun...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,9816,9816
4423,1500000US250259817001,"Block Group 1, Census Tract 9817, Suffolk Coun...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,9817,9817
4424,1500000US250259818001,"Block Group 1, Census Tract 9818, Suffolk Coun...",32,32,22,10,0,0,0,0,...,0,0,0,0,0,0,0,1,9818,9818
4425,1500000US250259901010,"Block Group 0, Census Tract 9901.01, Suffolk C...",67,67,49,18,0,0,0,0,...,0,0,0,0,0,0,0,0,9901.01,990101

In [52]:
MA_Block_Group['Census_Tract_cleaned'].value_counts()

401       10
402        8
70101      8
502        8
2031       8
          ..
110201     1
252603     1
441202     1
651001     1
418003     1
Name: Census_Tract_cleaned, Length: 1458, dtype: int64

In [64]:
MA_Block_Group[MA_Block_Group['Census_Tract'] == '1102.01']

,id,Geographic Area Name,Total:,Total:Population of one race:,Total:Population of one race:White,Total:Population of one race:Black or African American,Total:Population of one race:American Indian and Alaska Native,Total:Population of one race:Asian,Total:Population of one race:Native Hawaiian and Other Pacific Islander,Total:Population of one race:Some other race,...,Total:Population of two or more races:Population of two races:White; Black or African American,Total:Population of two or more races:Population of two races:White; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:White; Asian,Total:Population of two or more races:Population of two races:Black or African American; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:All other two race combinations,Total:Population of two or more races:Population of three races,Total:Population of two or more races:Population of four or more races,Block_Group,Census_Tract,Census_Tract_cleaned
4216,1500000US250251102011,"Block Group 1, Census Tract 1102.01, Suffolk C...",2534,2393,704,1351,0,21,0,317,...,52,0,12,0,77,0,0,1,1102.01,110201

In [19]:
MA_Block_Group['Census_Tract'].value_counts()

3564       8
2031       8
701.01     8
3362       7
4031       7
          ..
7211.01    1
5401.02    1
5421.02    1
8220       1
9817       1
Name: Census_Tract, Length: 1469, dtype: int64

In [24]:
List_of_clean_formatted_tracts = []

for tracts in MA_Block_Group['Census_Tract']:
    if '.' not in tracts:
        clean_tracts = tracts+'.00'
        if len(tracts) < 4:
            clean_tracts = '0' + clean_tracts
            List_of_clean_formatted_tracts.append(clean_tracts)
        else:
            List_of_clean_formatted_tracts.append(clean_tracts)
        
    else:
        if len(tracts) < 4:
            clean_tracts = '0' + clean_tracts
            List_of_clean_formatted_tracts.append(clean_tracts)
        else:
            List_of_clean_formatted_tracts.append(clean_tracts)
            
List_of_clean_formatted_tracts
        #print(tracts)

['0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0101.00',
 '0104.00',
 '0104.00',
 '0104.00',
 '0104.00',
 '0105.00',
 '0105.00',
 '0105.00',
 '0106.00',
 '0106.00',
 '0106.00',
 '0106.00',
 '0107.00',
 '0107.00',
 '0107.00',
 '0107.00',
 '0108.00',
 '0108.00',
 '0108.00',
 '0108.00',
 '0108.00',
 '0109.00',
 '0109.00',
 '0109.00',
 '0109.00',
 '0109.00',
 '0109.00',
 '0109.00',
 '0109.00',
 '0111.00',
 '0111.00',
 '0111.00',
 '0111.00',
 '0112.00',
 '0112.00',
 '0112.00',
 '0112.00',
 '0113.00',
 '0113.00',
 '0113.00',
 '0114.00',
 '0114.00',
 '0114.00',
 '0114.00',
 '0115.00',
 '0115.00',
 '0115.00',
 '0115.00',
 '0115.00',
 '0116.00',
 '0116.00',
 '0116.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0117.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0122.00',
 '0127.00',
 '0127.00',
 '0127.00',
 '0127.00',
 '0128.00',
 '0128.00',
 '0128.00',
 '0129.00',
 '0129.00',
 '0129.00',
 '0129.00',
 '0129.00',
 '0129.00',
 '0129.00',
 '0131.00',
 '0131.00',
 '0131.00',
 '0131.00',
 '0132.00',
 '0132.00',
 '0132.00',
 '0133.00',
 '0133.00',
 '0133.00',
 '0134.00',
 '0134.00',
 '0134.00',
 '0134.00',
 '0135.00',
 '0135.00',
 '0135.00',
 '0135.00',
 '0136.00',
 '0136.00',
 '0136.00',
 '0137.00',
 '0137.00',
 '0137.00',
 '0137.00',
 '0138.00',
 '0138.00',
 '0138.00',
 '0139.00',
 '0139.00',
 '0139.00',
 '0139.00',
 '0139.00',
 '0139.00',
 '0139.00',
 '0139.00',
 '0141.00',
 '0143.00',
 '0143.00',
 '0143.00',
 '0143.00',
 '0143.00',
 '0143.00',
 '0143.00',
 '0143.00',
 '0145.00',
 '0145.00',
 '0145.00',
 '0146.00',
 '0146.00',
 '0146.00',
 '0146.00',
 '0147.00',
 '0147.00',
 '0147.00',
 '0148.00',
 '0148.00',
 '0148.00',
 '0148.00',
 '0149.00',
 '0149.00',
 '0149.00',
 '0149.00',
 '0149.00',
 '0149.00',
 '0149.00',
 '0149.00',
 '0151.00',
 '0151.00',
 '0152.00',
 '0152.00',
 '0153.00',
 '0153.00',
 '0153.00',
 '9900.00',
 '9001.00',
 '9001.00',
 '9001.00',
 '9001.00',
 '9002.00',
 '9002.00',
 '9002.00',
 '9002.00',
 '9002.00',
 '9002.00',
 '9003.00',
 '9003.00',
 '9003.00',
 '9004.00',
 '9004.00',
 '9004.00',
 '9004.00',
 '9004.00',
 '9005.00',
 '9005.00',
 '9006.00',
 '9006.00',
 '9006.00',
 '9006.00',
 '9006.00',
 '9007.00',
 '9007.00',
 '9007.00',
 '9007.00',
 '9008.00',
 '9008.00',
 '9008.00',
 '9008.00',
 '9008.00',
 '9009.00',
 '9009.00',
 '9009.00',
 '9009.00',
 '9009.00',
 '9011.00',
 '9011.00',
 '9011.00',
 '9011.00',
 '9111.00',
 '9111.00',
 '9111.00',
 '9121.00',
 '9121.00',
 '9121.00',
 '9121.00',
 '9121.00',
 '9121.00',
 '9121.00',
 '9131.00',
 '9131.00',
 '9131.00',
 '9131.00',
 '9131.00',
 '9131.00',
 '9131.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9141.00',
 '9213.00',
 '9213.00',
 '9213.00',
 '9213.00',
 '9214.00',
 '9214.00',
 '9215.00',
 '9215.00',
 '9221.00',
 '9221.00',
 '9221.00',
 '9221.00',
 '9222.00',
 '9222.00',
 '9222.00',
 '9222.00',
 '9223.00',
 '9223.00',
 '9231.00',
 '9231.00',
 '9231.00',
 '9241.00',
 '9241.00',
 '9241.00',
 '9251.00',
 '9251.00',
 '9251.00',
 '9251.00',
 '9251.00',
 '9251.00',
 '9251.00',
 '9261.00',
 '9261.00',
 '9261.00',
 '9261.00',
 '9311.00',
 '9311.00',
 '9313.00',
 '9313.00',
 '9314.00',
 '9314.00',
 '9322.00',
 '9322.00',
 '9322.00',
 '9323.00',
 '9323.00',
 '9332.00',
 '9332.00',
 '9333.00',
 '9333.00',
 '9334.00',
 '9334.00',
 '9334.00',
 '9342.00',
 '9342.00',
 '9343.00',
 '9343.00',
 '9351.00',
 '9351.00',
 '9351.00',
 '9351.00',
 '9352.00',
 '9352.00',
 '9352.00',
 '9352.00',
 '9352.00',
 '9353.00',
 '9353.00',
 '9353.00',
 '9353.00',
 '6001.00',
 '6001.00',
 '6001.00',
 '6001.00',
 '6001.00',
 '6001.00',
 '6001.00',
 '6001.00',
 '6001.00',
 '6001.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6101.00',
 '6121.00',
 '6121.00',
 '6121.00',
 '6122.00',
 '6122.00',
 '6122.00',
 '6122.00',
 '6131.00',
 '6131.00',
 '6131.00',
 '6131.00',
 '6133.00',
 '6133.00',
 '6133.00',
 '6133.00',
 '6134.00',
 '6134.00',
 '6136.00',
 '6136.00',
 '6137.00',
 '6137.00',
 '6138.00',
 '6138.00',
 '6138.00',
 '6138.00',
 '6138.00',
 '6138.00',
 '6138.00',
 '6138.00',
 '6138.00',
 '6140.00',
 '6140.00',
 '6140.00',
 '6140.00',
 '6140.00',
 '6140.00',
 '6140.00',
 '6140.00',
 '6151.00',
 '6151.00',
 '6151.00',
 '6151.00',
 '6151.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6161.00',
 '6302.00',
 '6302.00',
 '6302.00',
 '6302.00',
 '6302.00',
 '6303.00',
 '6303.00',
 '6303.00',
 '6303.00',
 '6304.00',
 '6304.00',
 '6304.00',
 '6311.00',
 '6311.00',
 '6311.00',
 '6311.00',
 '6311.00',
 '6311.00',
 '6311.00',
 '6312.00',
 '6312.00',
 '6312.00',
 '6312.00',
 '6312.00',
 '6313.00',
 '6313.00',
 '6313.00',
 '6314.00',
 '6314.00',
 '6315.00',
 '6315.00',
 '6316.00',
 '6316.00',
 '6316.00',
 '6317.00',
 '6317.00',
 '6317.00',
 '6317.00',
 '6318.00',
 '6318.00',
 '6318.00',
 '6318.00',
 '6321.00',
 '6321.00',
 '6321.00',
 '6321.00',
 '6321.00',
 '6321.00',
 '6322.00',
 '6322.00',
 '6322.00',
 '6322.00',
 '6322.00',
 '6331.00',
 '6331.00',
 '6332.00',
 '6332.00',
 '6332.00',
 '6401.00',
 '6401.00',
 '6401.00',
 '6401.00',
 '6401.00',
 '6402.00',
 '6402.00',
 '6402.00',
 '6402.00',
 '6402.00',
 '6403.00',
 '6403.00',
 '6403.00',
 '6404.00',
 '6404.00',
 '6404.00',
 '6405.00',
 '6405.00',
 '6405.00',
 '6405.00',
 '6405.00',
 '6406.00',
 '6406.00',
 '6406.00',
 '6406.00',
 '6407.00',
 '6407.00',
 '6407.00',
 '6408.00',
 '6408.00',
 '6408.00',
 '6408.00',
 '6408.00',
 '6408.00',
 '6408.00',
 '6408.00',
 '6410.00',
 '6410.00',
 '6410.00',
 '6410.00',
 '6410.00',
 '6412.00',
 '6412.00',
 '6413.00',
 '6413.00',
 '6413.00',
 '6413.00',
 '6413.00',
 '6414.00',
 '6414.00',
 '6414.00',
 '6415.00',
 '6415.00',
 '6416.00',
 '6416.00',
 '6417.00',
 '6417.00',
 '6417.00',
 '6417.00',
 '6418.00',
 '6418.00',
 '6418.00',
 '6419.00',
 '6419.00',
 '6420.00',
 '6420.00',
 '6420.00',
 '6421.00',
 '6421.00',
 '6421.00',
 '6422.00',
 '6422.00',
 '6422.00',
 '6422.00',
 '6423.00',
 '6423.00',
 '6424.00',
 '6424.00',
 '6424.00',
 '6425.00',
 '6425.00',
 '6425.00',
 '6425.00',
 '6425.00',
 '6425.00',
 '6425.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6442.00',
 '6503.00',
 '6503.00',
 '6503.00',
 '6503.00',
 '6504.00',
 '6504.00',
 '6504.00',
 '6504.00',
 '6505.00',
 '6505.00',
 '6505.00',
 '6506.00',
 '6506.00',
 '6506.00',
 '6507.00',
 '6507.00',
 '6508.00',
 '6508.00',
 '6508.00',
 '6508.00',
 '6509.00',
 '6509.00',
 '6509.00',
 '6509.00',
 '6509.00',
 '6509.00',
 '6511.00',
 '6511.00',
 '6511.00',
 '6511.00',
 '6512.00',
 '6512.00',
 '6513.00',
 '6513.00',
 '6514.00',
 '6514.00',
 '6514.00',
 '6514.00',
 '6515.00',
 '6515.00',
 '6515.00',
 '6515.00',
 '6516.00',
 '6516.00',
 '6516.00',
 '6516.00',
 '6517.00',
 '6517.00',
 '6518.00',
 '6518.00',
 '6519.00',
 '6519.00',
 '6520.00',
 '6520.00',
 '6520.00',
 '6521.00',
 '6521.00',
 '6521.00',
 '6522.00',
 '6522.00',
 '6522.00',
 '6523.00',
 '6523.00',
 '6523.00',
 '6524.00',
 '6524.00',
 '6525.00',
 '6525.00',
 '6526.00',
 '6526.00',
 '6527.00',
 '6527.00',
 '6527.00',
 '6527.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6528.00',
 '6541.00',
 '6541.00',
 '6541.00',
 '6541.00',
 '6542.00',
 '6542.00',
 '6542.00',
 '6551.00',
 '6551.00',
 '6551.00',
 '6552.00',
 '6552.00',
 '6552.00',
 '6552.00',
 '6552.00',
 '6553.00',
 '6553.00',
 '6553.00',
 '6554.00',
 '6554.00',
 '6554.00',
 '6554.00',
 '9855.00',
 '9856.00',
 '9900.00',
 '2001.00',
 '2001.00',
 '2001.00',
 '2001.00',
 '2001.00',
 '2002.00',
 '2002.00',
 '2002.00',
 '2002.00',
 '2002.00',
 '2003.00',
 '2003.00',
 '2003.00',
 '2003.00',
 '2004.00',
 '2004.00',
 '2004.00',
 '2004.00',
 '2004.00',
 '2004.00',
 '9900.00',
 '2011.00',
 '2011.00',
 '2011.00',
 '2011.00',
 '2011.00',
 '2011.00',
 '2011.00',
 '2011.00',
 '2011.00',
 '2011.00',
 '2011.00',
 '2011.00',
 '2022.00',
 '2022.00',
 '2022.00',
 '2022.00',
 '2022.00',
 '2022.00',
 '2031.00',
 '2031.00',
 '2031.00',
 '2031.00',
 '2031.00',
 '2031.00',
 '2031.00',
 '2031.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2032.00',
 '2042.00',
 '2042.00',
 '2042.00',
 '2042.00',
 '2042.00',
 '2043.00',
 '2043.00',
 '2043.00',
 '2044.00',
 '2044.00',
 '2044.00',
 '2044.00',
 '2045.00',
 '2045.00',
 '2045.00',
 '2046.00',
 '2046.00',
 '2046.00',
 '2046.00',
 '2046.00',
 '2046.00',
 '2046.00',
 '2046.00',
 '2046.00',
 '2046.00',
 '2046.00',
 '2046.00',
 '2051.00',
 '2051.00',
 '2051.00',
 '2051.00',
 '2051.00',
 '2052.00',
 '2052.00',
 '2052.00',
 '2052.00',
 '2052.00',
 '2053.00',
 '2053.00',
 '2053.00',
 '2053.00',
 '2054.00',
 '2054.00',
 '2054.00',
 '2055.00',
 '2055.00',
 '2056.00',
 '2056.00',
 '2056.00',
 '2056.00',
 '2057.00',
 '2057.00',
 '2057.00',
 '2057.00',
 '2057.00',
 '2058.00',
 '2058.00',
 '2058.00',
 '2059.00',
 '2059.00',
 '2059.00',
 '2060.00',
 '2060.00',
 '2061.00',
 '2061.00',
 '2062.00',
 '2062.00',
 '2062.00',
 '2063.00',
 '2063.00',
 '2063.00',
 '2063.00',
 '2064.00',
 '2064.00',
 '2064.00',
 '2064.00',
 '2065.00',
 '2065.00',
 '2065.00',
 '2066.00',
 '2066.00',
 '2066.00',
 '2066.00',
 '2067.00',
 '2067.00',
 '2067.00',
 '2067.00',
 '2068.00',
 '2068.00',
 '2069.00',
 '2069.00',
 '2069.00',
 '2070.00',
 '2070.00',
 '2071.00',
 '2071.00',
 '2071.00',
 '2072.00',
 '2072.00',
 '2072.00',
 '2072.00',
 '2072.00',
 '2072.00',
 '2072.00',
 '2072.00',
 '2072.00',
 '2072.00',
 '2082.00',
 '2082.00',
 '2082.00',
 '2082.00',
 '2083.00',
 '2083.00',
 '2083.00',
 '2083.00',
 '2084.00',
 '2084.00',
 '2084.00',
 '2084.00',
 '2091.00',
 '2091.00',
 '2091.00',
 '2091.00',
 '2091.00',
 '2092.00',
 '2092.00',
 '2092.00',
 '2092.00',
 '2101.00',
 '2101.00',
 '2101.00',
 '2101.00',
 '2102.00',
 '2102.00',
 '2102.00',
 '2103.00',
 '2103.00',
 '2103.00',
 '2104.00',
 '2104.00',
 '2104.00',
 '2104.00',
 '2105.00',
 '2105.00',
 '2105.00',
 '2105.00',
 '2106.00',
 '2106.00',
 '2106.00',
 '2106.00',
 '2107.00',
 '2107.00',
 '2107.00',
 '2107.00',
 '2108.00',
 '2108.00',
 '2108.00',
 '2109.00',
 '2109.00',
 '2109.00',
 '2111.00',
 '2111.00',
 '2111.00',
 '2111.00',
 '2112.00',
 '2112.00',
 '2112.00',
 '2112.00',
 '2113.00',
 '2113.00',
 '2113.00',
 '2113.00',
 '2113.00',
 '2113.00',
 '2113.00',
 '2113.00',
 '2121.00',
 '2121.00',
 '2121.00',
 '2121.00',
 '2131.00',
 '2131.00',
 '2131.00',
 '2131.00',
 '2131.00',
 '2141.00',
 '2141.00',
 '2141.00',
 '2141.00',
 '2141.00',
 '2141.00',
 '2141.00',
 '2141.00',
 '2141.00',
 '2141.00',
 '2141.00',
 '2161.00',
 '2161.00',
 '2161.00',
 '2171.00',
 '2171.00',
 '2171.00',
 '2171.00',
 '2171.00',
 '2171.00',
 '2171.00',
 ...]

In [25]:
MA_Block_Group['Census_Tract_cleaned'] = List_of_clean_formatted_tracts
MA_Block_Group

,id,Geographic Area Name,Total:,Total:Population of one race:,Total:Population of one race:White,Total:Population of one race:Black or African American,Total:Population of one race:American Indian and Alaska Native,Total:Population of one race:Asian,Total:Population of one race:Native Hawaiian and Other Pacific Islander,Total:Population of one race:Some other race,...,Total:Population of two or more races:Population of two races:White; Black or African American,Total:Population of two or more races:Population of two races:White; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:White; Asian,Total:Population of two or more races:Population of two races:Black or African American; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:All other two race combinations,Total:Population of two or more races:Population of three races,Total:Population of two or more races:Population of four or more races,Block_Group,Census_Tract,Census_Tract_cleaned
1,1500000US250010101001,"Block Group 1, Census Tract 101, Barnstable Co...",825,797,797,0,0,0,0,0,...,20,8,0,0,0,0,0,1,101,0101.00
2,1500000US250010101002,"Block Group 2, Census Tract 101, Barnstable Co...",446,436,411,18,0,7,0,0,...,10,0,0,0,0,0,0,2,101,0101.00
3,1500000US250010101003,"Block Group 3, Census Tract 101, Barnstable Co...",708,668,625,22,0,21,0,0,...,0,0,31,0,9,0,0,3,101,0101.00
4,1500000US250010101004,"Block Group 4, Census Tract 101, Barnstable Co...",433,412,388,17,0,7,0,0,...,8,0,0,0,0,13,0,4,101,0101.00
5,1500000US250010101005,"Block Group 5, Census Tract 101, Barnstable Co...",561,541,497,0,0,0,0,44,...,0,0,20,0,0,0,0,5,101,0101.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,1500000US250277614002,"Block Group 2, Census Tract 7614, Worcester Co...",1366,1361,1100,0,0,206,0,55,...,0,5,0,0,0,0,0,2,7614,7614.00
4982,1500000US250277614003,"Block Group 3, Census Tract 7614, Worcester Co...",943,943,943,0,0,0,0,0,...,0,0,0,0,0,0,0,3,7614,7614.00
4983,1500000US250277614004,"Block Group 4, Census Tract 7614, Worcester Co...",844,844,844,0,0,0,0,0,...,0,0,0,0,0,0,0,4,7614,7614.00
4984,1500000US250277614005,"Block Group 5, Census Tract 7614, Worcester Co...",816,816,797,0,11,8,0,0,...,0,0,0,0,0,0,0,5,7614,7614.00
4985,1500000US250277614006,"Block Group 6, Census Tract 7614, Worcester Co...",1562,1476,911,368,21,120,0,56,...,0,18,11,0,34,23,0,6,7614,7614.00

In [13]:
MA_Block_group_WP = pd.read_csv("MA_Block_groups_Ward_Precinct_merge.csv")
MA_Block_group_WP

/Users/gowthamasokan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,STATEFP10,COUNTYFP10,TRACTCE10,BLKGRPCE10,GEOID10,NAMELSAD10,MTFCC10,ALAND10,AWATER10,...,PRECINCT,DISTRICT,POP_2010,TOWN,TOWN_ID,AREA_SQMI,AREA_ACRES_right,YEAR,SHAPE_AREA_right,SHAPE_LEN_right
0,0,25,23,525104,2,250235251042,Block Group 2,G5030,2648651.0,119260.0,...,4,4,3904,BRIDGEWATER,42,6.056,3875.80,2012,1.568486e+07,20641.267938
1,0,25,23,525104,2,250235251042,Block Group 2,G5030,2648651.0,119260.0,...,2,2,3886,BRIDGEWATER,42,2.961,1894.97,2012,7.668706e+06,12250.788877
2,0,25,23,525104,2,250235251042,Block Group 2,G5030,2648651.0,119260.0,...,5,5,3623,BRIDGEWATER,42,1.543,987.39,2012,3.995852e+06,9550.729218
3,0,25,23,525104,2,250235251042,Block Group 2,G5030,2648651.0,119260.0,...,1,1,3873,BRIDGEWATER,42,5.767,3691.10,2012,1.493741e+07,21003.563879
4,1,25,23,525104,4,250235251044,Block Group 4,G5030,4625818.0,11563.0,...,2,2,3886,BRIDGEWATER,42,2.961,1894.97,2012,7.668706e+06,12250.788877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20834,4978,25,17,358400,1,250173584001,Block Group 1,G5030,939683.0,0.0,...,9,9,3472,LEXINGTON,155,3.399,2175.67,2012,8.804656e+06,16846.619122
20835,4978,25,17,358400,1,250173584001,Block Group 1,G5030,939683.0,0.0,...,4,4,3475,LEXINGTON,155,1.293,827.23,2012,3.347697e+06,8666.973004
20836,4978,25,17,358400,1,250173584001,Block Group 1,G5030,939683.0,0.0,...,5,5,3526,LEXINGTON,155,1.828,1170.14,2012,4.735404e+06,10760.414353
20837,4978,25,17,358400,1,250173584001,Block Group 1,G5030,939683.0,0.0,...,8,8,3427,LEXINGTON,155,1.433,916.92,2012,3.710674e+06,8048.276445
20838,4978,25,17,358400,1,250173584001,Block Group 1,G5030,939683.0,0.0,...,6,6,3436,LEXINGTON,155,1.721,1101.24,2012,4.456591e+06,11839.534756

In [14]:
MA_Block_group_WP['TRACTCE10'] = MA_Block_group_WP['TRACTCE10'].astype(str)

In [18]:
MA_Block_group_WP['Tract_formatted'] = MA_Block_group_WP['TRACTCE10'].str[:-2] + '.' + MA_Block_group_WP['TRACTCE10'].str[-2:]
MA_Block_group_WP

,Unnamed: 0,STATEFP10,COUNTYFP10,TRACTCE10,BLKGRPCE10,GEOID10,NAMELSAD10,MTFCC10,ALAND10,AWATER10,...,DISTRICT,POP_2010,TOWN,TOWN_ID,AREA_SQMI,AREA_ACRES_right,YEAR,SHAPE_AREA_right,SHAPE_LEN_right,Tract_formatted
0,0,25,23,525104,2,250235251042,Block Group 2,G5030,2648651.0,119260.0,...,4,3904,BRIDGEWATER,42,6.056,3875.80,2012,1.568486e+07,20641.267938,5251.04
1,0,25,23,525104,2,250235251042,Block Group 2,G5030,2648651.0,119260.0,...,2,3886,BRIDGEWATER,42,2.961,1894.97,2012,7.668706e+06,12250.788877,5251.04
2,0,25,23,525104,2,250235251042,Block Group 2,G5030,2648651.0,119260.0,...,5,3623,BRIDGEWATER,42,1.543,987.39,2012,3.995852e+06,9550.729218,5251.04
3,0,25,23,525104,2,250235251042,Block Group 2,G5030,2648651.0,119260.0,...,1,3873,BRIDGEWATER,42,5.767,3691.10,2012,1.493741e+07,21003.563879,5251.04
4,1,25,23,525104,4,250235251044,Block Group 4,G5030,4625818.0,11563.0,...,2,3886,BRIDGEWATER,42,2.961,1894.97,2012,7.668706e+06,12250.788877,5251.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20834,4978,25,17,358400,1,250173584001,Block Group 1,G5030,939683.0,0.0,...,9,3472,LEXINGTON,155,3.399,2175.67,2012,8.804656e+06,16846.619122,3584.00
20835,4978,25,17,358400,1,250173584001,Block Group 1,G5030,939683.0,0.0,...,4,3475,LEXINGTON,155,1.293,827.23,2012,3.347697e+06,8666.973004,3584.00
20836,4978,25,17,358400,1,250173584001,Block Group 1,G5030,939683.0,0.0,...,5,3526,LEXINGTON,155,1.828,1170.14,2012,4.735404e+06,10760.414353,3584.00
20837,4978,25,17,358400,1,250173584001,Block Group 1,G5030,939683.0,0.0,...,8,3427,LEXINGTON,155,1.433,916.92,2012,3.710674e+06,8048.276445,3584.00
20838,4978,25,17,358400,1,250173584001,Block Group 1,G5030,939683.0,0.0,...,6,3436,LEXINGTON,155,1.721,1101.24,2012,4.456591e+06,11839.534756,3584.00

In [26]:


MA_Block_group_demographics_WP = MA_Block_group_WP.merge(MA_Block_Group, left_on='Tract_formatted', right_on='Census_Tract_cleaned')
MA_Block_group_demographics_WP

,Unnamed: 0,STATEFP10,COUNTYFP10,TRACTCE10,BLKGRPCE10,GEOID10,NAMELSAD10,MTFCC10,ALAND10,AWATER10,...,Total:Population of two or more races:Population of two races:White; Black or African American,Total:Population of two or more races:Population of two races:White; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:White; Asian,Total:Population of two or more races:Population of two races:Black or African American; American Indian and Alaska Native,Total:Population of two or more races:Population of two races:All other two race combinations,Total:Population of two or more races:Population of three races,Total:Population of two or more races:Population of four or more races,Block_Group,Census_Tract,Census_Tract_cleaned
0,3,25,23,510100,2,250235101002,Block Group 2,G5030,686351.0,0.0,...,0,0,0,0,0,0,0,1,5101,5101.00
1,3,25,23,510100,2,250235101002,Block Group 2,G5030,686351.0,0.0,...,0,48,0,0,0,0,0,2,5101,5101.00
2,3,25,23,510100,2,250235101002,Block Group 2,G5030,686351.0,0.0,...,0,0,0,0,12,0,0,3,5101,5101.00
3,3,25,23,510100,2,250235101002,Block Group 2,G5030,686351.0,0.0,...,0,0,0,0,48,0,0,4,5101,5101.00
4,3,25,23,510100,2,250235101002,Block Group 2,G5030,686351.0,0.0,...,0,0,0,0,0,0,0,1,5101,5101.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74329,4975,25,17,368200,4,250173682004,Block Group 4,G5030,4895236.0,26402.0,...,21,0,9,0,0,0,0,4,3682,3682.00
74330,4975,25,17,368200,4,250173682004,Block Group 4,G5030,4895236.0,26402.0,...,12,0,0,0,10,0,0,1,3682,3682.00
74331,4975,25,17,368200,4,250173682004,Block Group 4,G5030,4895236.0,26402.0,...,0,0,0,0,0,0,0,2,3682,3682.00
74332,4975,25,17,368200,4,250173682004,Block Group 4,G5030,4895236.0,26402.0,...,0,0,31,0,0,0,0,3,3682,3682.00
74333,4975,25,17,368200,4,250173682004,Block Group 4,G5030,4895236.0,26402.0,...,21,0,9,0,0,0,0,4,3682,3682.00

In [27]:
MA_Block_group_demographics_WP.to_csv("MA_Block_group_demographics_WP.csv", encoding = 'utf-8')

In [60]:
MA_Block_group_WP[(MA_Block_group_WP['TRACTCE10'].str.contains("110201",na=False,case=False)) &
                 (MA_Block_group_WP['TOWN'] == 'BOSTON')]

,Unnamed: 0,STATEFP10,COUNTYFP10,TRACTCE10,BLKGRPCE10,GEOID10,NAMELSAD10,MTFCC10,ALAND10,AWATER10,...,PRECINCT,DISTRICT,POP_2010,TOWN,TOWN_ID,AREA_SQMI,AREA_ACRES_right,YEAR,SHAPE_AREA_right,SHAPE_LEN_right
13505,3283,25,25,110201,1,250251102011,Block Group 1,G5030,348208.0,0.0,...,8,18-8,3991,BOSTON,35,0.419562,268.519551,2016,1.086660e+06,4653.931626
13506,3283,25,25,110201,1,250251102011,Block Group 1,G5030,348208.0,0.0,...,10,19-10,2324,BOSTON,35,0.186753,119.521945,2016,4.836882e+05,3260.328951
13507,3283,25,25,110201,1,250251102011,Block Group 1,G5030,348208.0,0.0,...,7,18-7,2230,BOSTON,35,0.529326,338.768947,2016,1.370949e+06,5070.757971

In [25]:
list(MA_Block_group_WP.columns)

['Unnamed: 0',
 'STATEFP10',
 'COUNTYFP10',
 'TRACTCE10',
 'BLKGRPCE10',
 'GEOID10',
 'NAMELSAD10',
 'MTFCC10',
 'ALAND10',
 'AWATER10',
 'INTPTLAT10',
 'INTPTLON10',
 'AREA_SQFT',
 'AREA_ACRES_left',
 'POP100_RE',
 'HU100_RE',
 'LOGPL94171',
 'LOGSF1',
 'LOGACS0610',
 'LOGSF1C',
 'SHAPE_AREA_left',
 'SHAPE_LEN_left',
 'geometry',
 'index_right',
 'WP_NAME',
 'WARD',
 'PRECINCT',
 'DISTRICT',
 'POP_2010',
 'TOWN',
 'TOWN_ID',
 'AREA_SQMI',
 'AREA_ACRES_right',
 'YEAR',
 'SHAPE_AREA_right',
 'SHAPE_LEN_right']